// Layout.scss
.layout-container {
    display: flex;
    height: 100vh;
    width: 100%;
    
    
  }
  
  
  .main-content {
    flex: 1;
    padding-left: 200px;
    transition: padding-left 0.3s ease;
  }


  .layout-content{
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #4094f726;
    
  }
  
  .navbar-spacing{
    padding: 20px 15px;
  }