
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #6167cf, #25ce4a);
  font-family: "Arial", sans-serif;
}

.login-header {
  margin-bottom: 20px;
  
  h2 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    animation: fadeInDown 0.8s ease-in-out;
  }
}


form {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: #fff;
  animation: scaleIn 0.6s ease-in-out;

  div {
    margin-bottom: 20px;
    
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      color: #fff;
      font-size: 1.1rem;
      animation: fadeIn 1s ease-in-out;
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 1rem;
      outline: none;
      transition: all 0.3s ease;
      color: #333;

      &:focus {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
      }
    }
  }

  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4e54c8;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: bounceIn 1s ease-in-out;

    &:hover {
      background: #f1f1f1;
      color: #8f94fb;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
