.locations-container {
  padding: 20px;
  background-color: #f0efef97;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-location-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
}

.add-location-button:hover {
  background-color: #2d6d30;
  transform: scale(1.05);
}

.locations-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.locations-table th,
.locations-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
}

.locations-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ddd;
}

.locations-table tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.locations-table tbody tr:hover {
  background-color: #e0e0e0;
}

.locations-table img {
  border-radius: 5px;
  object-fit: cover;
}
 tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.MuiIconButton-root {
  margin: 0 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.modal-content input[type="text"],
.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.image-upload-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.upload-image {
  width: 100px;
  height: 100px;
  background-color: gray;
  border: 2px dashed #ccc;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: border-color 0.3s;
}

.upload-image input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.upload-image:hover {
  border-color: blue;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  height: 100%;
  width: 100%;
}

.locations-muibuttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.locations-table td .MuiIconButton-root {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}